body {
  font-family: 'Courier New', sans-serif;
  background-color: white;
  color: black;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

h1, h2 {
  font-size: 50px;
  text-align: center;
  background-color: white;
  padding: 10px;
  margin: 0px;
  margin-bottom: 20px;

}

h2 {
  margin-top: 20px;
  font-size: 30px;
}

a {
  all: unset;
  text-decoration: overline;
  cursor: grab;
}

strong {
  color: black;
  background-color: white;
  padding: 10px;
}

img {
  max-width: 100%;
  padding-top: 10px;
}

code {
  white-space: pre-wrap;
  display: block;
  padding: 10px;
}

#question-container {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 40px;
  height: 40px;
  bottom: 0;
  background-color: lightcoral;
  color: white;
  font-size: 30px;
}

@media (max-width: 500px) {
  #question-container {
    height: 20px;
    font-size: 15px;
    padding-bottom: 10px;
  }
}

#question {
  all: unset;
  width: 100%;
  caret-color: lightsalmon;
}

#question::placeholder {
  color: #ddd;
}

#answer {
  margin-top: 20%;
  color: lightcoral;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
  overflow-wrap: break-word;
}
#headline, #content {
  transition: all ease 500ms;
}