body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: black;
  color: white;
  max-width: 1024px;
  margin: auto;
  padding: 0px;
}

h1, h2 {
  font-size: 50px;
  text-align: center;
  background-color: white;
  color: black;
  padding: 10px;
  margin: 0px;
  margin-bottom: 20px;

}

h2 {
  margin-top: 20px;
  font-size: 30px;
}

a {
  color: white;
  text-decoration: underline;
}

strong {
  color: black;
  background-color: white;
  padding: 10px;
}

img {
  max-width: 100%;
  padding-top: 10px;
}

code {
  white-space: pre-wrap;
  display: block;
  padding: 10px;
}

.nav > a {
  background-color: white;
  color: black;
  text-decoration: overline;
  width: 100px;
  max-width: 90%;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  flex-grow: 1;
}

.nav {
  font-size: 25px;
  width: auto;
  text-align: center;
  display: flex;
  flex-wrap:wrap;
}

.content {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 35px;
  float:left;
  padding: 20px;
  text-align: justify;
}

.project {
  width: 44%;
  border: thick solid white;
  display: inline-block;
  padding: 20px;
  margin-bottom: 10px;
}

.project > h3 {
  background-color: white;
  color: black;
  margin: 0px;
  padding: 10px;
  text-align: left;
}

.highlight {
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 10px;
}

.language {
  color: pink;
}

.hints {
  font-size: 12px;
}

@media (max-width: 950px) {
  .project {
    width: auto;
  }
}
